doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 電商網頁切版
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body 
    header
      a.logo(href="/")
        img.logo--img(src="logo.png")
        span.logo--text TSHIRT STORE &reg
      input#ham(type="checkbox")
      label.ham(for="ham")
        .ham--line
      nav.nav
        a.nav--item Men
        a.nav--item Women
        a.nav--item Kids
      div.icons
        a.search.material-icons search
        a.favorite.material-icons favorite
        a.cart.material-icons shopping_cart
    section.filter
      .filter--title Basic T-shirt
      .filter--selection
        .select
          span.select--text Size
            .select--icon
          ul.select--selection
            li XS
            li S
            li M
            li L
            li XL
            li XXL
        .select
          span.select--text Color
            .select--icon
          ul.select--selection
            li Black
            li Pink
            li Blue
            li Yellow
            li Gray
            li Green
        .select
          span.select--text Sort
            .select--icon
          ul.select--selection
            li Newest
            li A > Z
            li Z > A
            li Price Ascending
            li Price Descending
        .clear
          span.clear--text Clear Filter
            .clear--icon
    section#items
      .container
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes1.png")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes2.jpg")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes3.png")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes4.png")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes1.png")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes2.jpg")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes3.png")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes4.png")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes1.png")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes2.jpg")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes3.png")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes4.png")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes1.png")
          .item--texts
            .item--descibe
            .item--amount
        .item
          .item--box
            .item--heart
            img.item--img(src="tShirt.png")
            img.item--clothes(src="clothes2.jpg")
          .item--texts
            .item--descibe
            .item--amount
    section#pagetation
      .present 14
      .total 14
    footer
      img.banner(src="banner.png")
      .newsletter
        .newsletter--text Get the latest T-shirt drops in your inbox! Sign up for our Newsletter.
        .newsletter--signup
          input.signup--address(placeholder="Enter e-mail for news update.")
          a.signup--button SIGN UP!
        .newsletter--policy By registering you agree with our <a href="#">Integrity Policy</a>
      .copyright &copy 2021 Tshirt Store. All rights reserved.