@import "reset.sass"
$viewport: 960px
$header_height: 60px
$drop_down_icon: "https://cdn1.iconfinder.com/data/icons/arrows-vol-1-4/24/dropdown_arrow-512.png"
$clear_icon: "https://cdn.iconscout.com/icon/premium/png-512-thumb/clear-16-216586.png"
$heart_icon: "heart.jpg"
@mixin shadow
  box-shadow: 0px 1px 10px rgba(#555,0.1)

@mixin bgm($url)
  background:
    image: url($url)
    size: cover
    position: center
    repeat: no-repeat

header
  height: $header_height
  width: 100%
  position: fixed
  top: 0
  z-index: 1000
  background: 
    color: rgba(#fff,0.8)
  @include shadow

  .logo
    max-height: $header_height
    position: absolute
    left: 50%
    transform: translate(-50%)
    @media screen and ( min-width: $viewport )
      left: 10px
      transform: unset
    width: auto
    display: flex
    justify-content: center
    align-items: center

    &--img
      height: 30px
      margin: 5px 10px
      @media screen and ( min-width: $viewport )
        height: 50px
        margin: 5px 20px
    
    &--text
      font-size: 18px
      @media screen and ( min-width: $viewport )
        font-size: 24px
      line-height: $header_height
      font-weight: bold

  .nav
    width: 100%
    background:
      color: white
    position: absolute
    top: 100%
    display: none
    @media screen and ( min-width: $viewport )
      display: block
      width: auto
      top: 0
      left: 50%
      transform: translate(-50%)

    &--item
      font-size: 24px
      line-height: $header_height
      padding: 0 30px
      display: block
      @include shadow
      text-shadow: 0px 0px 3px rgba(#555,0.8)
      @media screen and ( min-width: $viewport )
        display: inline-block
        box-shadow: unset

  #ham
    display: none
    &:checked
      ~ .nav
        display: block

  .ham
    @media screen and ( min-width: $viewport )
      display: none
    position: absolute
    top: 0px
    bottom: 0px
    left: 10px
    display: flex
    align-items: center

    &--line
      width: 25px
      height: 2.5px
      background: 
        color: black
      position: relative

      &::before
        @extend .ham--line
        content: ""
        position: absolute
        right: 0px
        bottom: 10px

      &::after
        @extend .ham--line
        content: ""
        position: absolute
        right: 0px
        top: 10px

  .icons
    position: absolute
    top: 0px
    right: 0px
    width: 80vw
    text-align: right
    @media screen and ( min-width: $viewport )
      right: 10px

    .material-icons
      font-size: 36px
      line-height: $header_height
      padding: 0
      @media screen and ( min-width: $viewport )
        padding: 0 10px

    .search
      position: fixed
      left: 40px
      @media screen and ( min-width: $viewport )
        position: unset

.filter
  margin: 
    top: $header_height
  width: 100%

  &--title
    text-align: center
    font-size: 2rem
    padding: 20px

  &--selection
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center

  .select, .clear
    width: 160px
    margin: 10px
    padding:
      top: 8px
      bottom: 8px
      left: 10px
      right: 5px
    border: 1px solid #000
    border-radius: 5px

    &--text
      font-size: 20px
      line-height: 30px

    &--icon
      height: 30px
      width: 30px
      @include bgm($drop_down_icon)
      float: right

  .select
    background:
      color: white
    color: black

    &--selection
      display: none
      
  .clear
    background:
      color: #444
    color: white

    &--icon
      @include bgm($clear_icon)

#items .container
  display: grid
  padding: 30px
  grid:
    template: 
      columns: repeat(auto-fit, minmax(300px, 1fr))
    gap: 30px

  .item
    place-self: center center

    &--box
      width: 300px
      position: relative
      display: flex
      justify-content: center
      align-items: center
    
    &--heart
      @include bgm($heart_icon)
      border-radius: 40px
      width: 40px
      height: 40px
      position: absolute
      top: 20px
      right: 20px
      z-index: 100

    &--img
      width: 300px
